In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('Apartment Building Evaluation.csv')
df.head()

,_id,RSN,YEAR_REGISTERED,YEAR_EVALUATED,YEAR_BUILT,PROPERTY_TYPE,WARD,WARDNAME,SITE_ADDRESS,CONFIRMED_STOREYS,...,EXTERIOR_WALKWAYS,BALCONY_GUARDS,WATER_PEN_EXT_BLDG_ELEMENTS,PARKING_AREA,OTHER_FACILITIES,GRID,LATITUDE,LONGITUDE,X,Y
0,3697094,5156815,2023.0,NaN,1973.0,TCHC,17,Don Valley North,15 FIELD SPARROWAY,4,...,5.0,5.0,4.0,3.0,4.0,N1721,43.791143,-79.368820,315333.193,4849916.905
1,3697095,5157421,2023.0,NaN,1973.0,TCHC,17,Don Valley North,6 TREE SPARROWAY,4,...,3.0,5.0,4.0,3.0,4.0,N1721,43.791384,-79.369630,315272.148,4849932.515
2,3697096,5156814,2023.0,NaN,1973.0,TCHC,17,Don Valley North,13 FIELD SPARROWAY,4,...,4.0,5.0,4.0,3.0,4.0,N1721,43.790920,-79.368771,315334.815,4849906.373
3,3697097,5157387,2023.0,NaN,1973.0,TCHC,17,Don Valley North,4 TREE SPARROWAY,4,...,3.0,5.0,4.0,3.0,4.0,N1721,43.791448,-79.369332,315291.755,4849938.162
4,3697098,5156871,2023.0,NaN,1973.0,TCHC,17,Don Valley North,2 TREE SPARROWAY,4,...,5.0,5.0,4.0,3.0,4.0,N1721,43.791511,-79.369045,315330.308,4849947.465

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23512 entries, 0 to 23511
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          23512 non-null  int64
 1   RSN                          23512 non-null  int64
 2   YEAR_REGISTERED              22908 non-null  float64
 3   YEAR_EVALUATED               19501 non-null  float64
 4   YEAR_BUILT                   23420 non-null  float64
 5   PROPERTY_TYPE                23512 non-null  object
 6   WARD                         23512 non-null  int64
 7   WARDNAME                     23512 non-null  object
 8   SITE_ADDRESS                 23512 non-null  object
 9   CONFIRMED_STOREYS            23512 non-null  int64
 10  CONFIRMED_UNITS              23512 non-null  int64
 11  EVALUATION_COMPLETED_ON      23512 non-null  object
 12  SCORE                        23512 non-null  int64
 13  RESULTS_OF_SCORE             23512 non-null  object
 14  NO_OF_AREAS_EVALUATED        23512 non-null  int64
 15  ENTRANCE_LOBBY               23508 non-null  float64
 16  ENTRANCE_DOORS_WINDOWS       23510 non-null  float64
 17  SECURITY                     23500 non-null  float64
 18  STAIRWELLS                   23506 non-null  float64
 19  LAUNDRY_ROOMS                22202 non-null  float64
 20  INTERNAL_GUARDS_HANDRAILS    23506 non-null  float64
 21  GARBAGE_CHUTE_ROOMS          10199 non-null  float64
 22  GARBAGE_BIN_STORAGE_AREA     23490 non-null  float64
 23  ELEVATORS                    13790 non-null  float64
 24  STORAGE_AREAS_LOCKERS        9540 non-null   float64
 25  INTERIOR_WALL_CEILING_FLOOR  23508 non-null  float64
 26  INTERIOR_LIGHTING_LEVELS     23508 non-null  float64
 27  GRAFFITI                     23434 non-null  float64
 28  EXTERIOR_CLADDING            23494 non-null  float64
 29  EXTERIOR_GROUNDS             23482 non-null  float64
 30  EXTERIOR_WALKWAYS            23500 non-null  float64
 31  BALCONY_GUARDS               15942 non-null  float64
 32  WATER_PEN_EXT_BLDG_ELEMENTS  23500 non-null  float64
 33  PARKING_AREA                 21404 non-null  float64
 34  OTHER_FACILITIES             4504 non-null   float64
 35  GRID                         23512 non-null  object
 36  LATITUDE                     23058 non-null  float64
 37  LONGITUDE                    23058 non-null  float64
 38  X                            23334 non-null  float64
 39  Y                            23334 non-null  float64
dtypes: float64(27), int64(7), object(6)
memory usage: 7.2+ MB

# Data Cleanising ( Data Quality Issues and cleaning )

In [6]:
# Check for missing values
missing_values = df.isnull().sum()
missing_values

_id                                0
RSN                                0
YEAR_REGISTERED                  604
YEAR_EVALUATED                  4011
YEAR_BUILT                        92
PROPERTY_TYPE                      0
WARD                               0
WARDNAME                           0
SITE_ADDRESS                       0
CONFIRMED_STOREYS                  0
CONFIRMED_UNITS                    0
EVALUATION_COMPLETED_ON            0
SCORE                              0
RESULTS_OF_SCORE                   0
NO_OF_AREAS_EVALUATED              0
ENTRANCE_LOBBY                     4
ENTRANCE_DOORS_WINDOWS             2
SECURITY                          12
STAIRWELLS                         6
LAUNDRY_ROOMS                   1310
INTERNAL_GUARDS_HANDRAILS          6
GARBAGE_CHUTE_ROOMS            13313
GARBAGE_BIN_STORAGE_AREA          22
ELEVATORS                       9722
STORAGE_AREAS_LOCKERS          13972
INTERIOR_WALL_CEILING_FLOOR        4
INTERIOR_LIGHTING_LEVELS           4
GRAFFITI                          78
EXTERIOR_CLADDING                 18
EXTERIOR_GROUNDS                  30
EXTERIOR_WALKWAYS                 12
BALCONY_GUARDS                  7570
WATER_PEN_EXT_BLDG_ELEMENTS       12
PARKING_AREA                    2108
OTHER_FACILITIES               19008
GRID                               0
LATITUDE                         454
LONGITUDE                        454
X                                178
Y                                178
dtype: int64

In [16]:
# Drop rows with any missing values
df2 = df.dropna()

# Drop columns with 
threshold = 0.9 # 90% Threshold
df3 = df.dropna(thresh=df.shape[0] * threshold, axis =1)
df3.head()

,_id,RSN,YEAR_REGISTERED,YEAR_BUILT,PROPERTY_TYPE,WARD,WARDNAME,SITE_ADDRESS,CONFIRMED_STOREYS,CONFIRMED_UNITS,...,EXTERIOR_CLADDING,EXTERIOR_GROUNDS,EXTERIOR_WALKWAYS,WATER_PEN_EXT_BLDG_ELEMENTS,PARKING_AREA,GRID,LATITUDE,LONGITUDE,X,Y
0,3697094,5156815,2023.0,1973.0,TCHC,17,Don Valley North,15 FIELD SPARROWAY,4,16,...,3.0,3.0,5.0,4.0,3.0,N1721,43.791143,-79.368820,315333.193,4849916.905
1,3697095,5157421,2023.0,1973.0,TCHC,17,Don Valley North,6 TREE SPARROWAY,4,16,...,5.0,3.0,3.0,4.0,3.0,N1721,43.791384,-79.369630,315272.148,4849932.515
2,3697096,5156814,2023.0,1973.0,TCHC,17,Don Valley North,13 FIELD SPARROWAY,4,16,...,4.0,4.0,4.0,4.0,3.0,N1721,43.790920,-79.368771,315334.815,4849906.373
3,3697097,5157387,2023.0,1973.0,TCHC,17,Don Valley North,4 TREE SPARROWAY,4,16,...,5.0,3.0,3.0,4.0,3.0,N1721,43.791448,-79.369332,315291.755,4849938.162
4,3697098,5156871,2023.0,1973.0,TCHC,17,Don Valley North,2 TREE SPARROWAY,4,16,...,5.0,3.0,5.0,4.0,3.0,N1721,43.791511,-79.369045,315330.308,4849947.465

In [20]:
# Fill missing values in numeric columns with mean
numeric_col = ['CONFIRMED_STOREYS', 'CONFIRMED_UNITS']
df[numeric_col] = df[numeric_col].fillna(df[numeric_col].mean())

In [22]:
# Fill missing values in categorical columns with mode
cat_col = ['PROPERTY_TYPE', 'WARD', 'WARDNAME']
df[cat_col] = df[cat_col].fillna(df[cat_col].mode().iloc[0])

In [25]:
# Check for missing values
test = df.isnull().sum()
print(test)

_id                                0
RSN                                0
YEAR_REGISTERED                  604
YEAR_EVALUATED                  4011
YEAR_BUILT                        92
PROPERTY_TYPE                      0
WARD                               0
WARDNAME                           0
SITE_ADDRESS                       0
CONFIRMED_STOREYS                  0
CONFIRMED_UNITS                    0
EVALUATION_COMPLETED_ON            0
SCORE                              0
RESULTS_OF_SCORE                   0
NO_OF_AREAS_EVALUATED              0
ENTRANCE_LOBBY                     4
ENTRANCE_DOORS_WINDOWS             2
SECURITY                          12
STAIRWELLS                         6
LAUNDRY_ROOMS                   1310
INTERNAL_GUARDS_HANDRAILS          6
GARBAGE_CHUTE_ROOMS            13313
GARBAGE_BIN_STORAGE_AREA          22
ELEVATORS                       9722
STORAGE_AREAS_LOCKERS          13972
INTERIOR_WALL_CEILING_FLOOR        4
INTERIOR_LIGHTING_LEVELS           4
GRAFFITI                          78
EXTERIOR_CLADDING                 18
EXTERIOR_GROUNDS                  30
EXTERIOR_WALKWAYS                 12
BALCONY_GUARDS                  7570
WATER_PEN_EXT_BLDG_ELEMENTS       12
PARKING_AREA                    2108
OTHER_FACILITIES               19008
GRID                               0
LATITUDE                         454
LONGITUDE                        454
X                                178
Y                                178
dtype: int64

In [27]:
df_cleaned = df.dropna()

In [28]:
# Check the final result
df_cleaned.isnull().sum()

_id                            0
RSN                            0
YEAR_REGISTERED                0
YEAR_EVALUATED                 0
YEAR_BUILT                     0
PROPERTY_TYPE                  0
WARD                           0
WARDNAME                       0
SITE_ADDRESS                   0
CONFIRMED_STOREYS              0
CONFIRMED_UNITS                0
EVALUATION_COMPLETED_ON        0
SCORE                          0
RESULTS_OF_SCORE               0
NO_OF_AREAS_EVALUATED          0
ENTRANCE_LOBBY                 0
ENTRANCE_DOORS_WINDOWS         0
SECURITY                       0
STAIRWELLS                     0
LAUNDRY_ROOMS                  0
INTERNAL_GUARDS_HANDRAILS      0
GARBAGE_CHUTE_ROOMS            0
GARBAGE_BIN_STORAGE_AREA       0
ELEVATORS                      0
STORAGE_AREAS_LOCKERS          0
INTERIOR_WALL_CEILING_FLOOR    0
INTERIOR_LIGHTING_LEVELS       0
GRAFFITI                       0
EXTERIOR_CLADDING              0
EXTERIOR_GROUNDS               0
EXTERIOR_WALKWAYS              0
BALCONY_GUARDS                 0
WATER_PEN_EXT_BLDG_ELEMENTS    0
PARKING_AREA                   0
OTHER_FACILITIES               0
GRID                           0
LATITUDE                       0
LONGITUDE                      0
X                              0
Y                              0
dtype: int64

In [36]:
# Handling Outliers
from scipy.stats import zscore

num_col = ['SCORE']
z_score = df_cleaned[num_col].apply(zscore)
z_score.head()

         SCORE
2021  0.301535
2046  0.009046
2078  1.276499
2085  0.984010
2114 -0.088450

In [37]:
# Define a threshold for outliers detection 
threshold = 3
df_outliers = df_cleaned[(z_score < threshold).all(axis=1)]
df_outliers.head()

,_id,RSN,YEAR_REGISTERED,YEAR_EVALUATED,YEAR_BUILT,PROPERTY_TYPE,WARD,WARDNAME,SITE_ADDRESS,CONFIRMED_STOREYS,...,EXTERIOR_WALKWAYS,BALCONY_GUARDS,WATER_PEN_EXT_BLDG_ELEMENTS,PARKING_AREA,OTHER_FACILITIES,GRID,LATITUDE,LONGITUDE,X,Y
2021,3699115,4153625,2017.0,2021.0,1996.0,SOCIAL HOUSING,14,Toronto-Danforth,54 MARIGOLD AVE,4,...,4.0,3.0,4.0,4.0,4.0,S1441,43.661996,-79.331076,318408.525,4835574.305
2046,3699140,4152677,2017.0,2021.0,1992.0,SOCIAL HOUSING,20,Scarborough Southwest,835-841 BIRCHMOUNT RD,6,...,4.0,3.0,4.0,4.0,4.0,E2023,43.729416,-79.277408,322716.837,4843074.440
2078,3699172,4155062,2017.0,2021.0,1965.0,PRIVATE,8,Eglinton-Lawrence,370 RIDELLE AVE,28,...,5.0,5.0,4.0,5.0,5.0,N0831,43.704637,-79.440751,309559.647,4840299.426
2085,3699179,4166944,2017.0,2021.0,1967.0,PRIVATE,14,Toronto-Danforth,70 CAMBRIDGE AVE,21,...,4.0,5.0,4.0,4.0,4.0,S1424,43.678116,-79.360787,316009.354,4837360.726
2114,3699208,4154604,2017.0,2021.0,1966.0,PRIVATE,6,York Centre,4190 BATHURST ST,9,...,4.0,4.0,4.0,3.0,4.0,N0629,43.748575,-79.437303,309833.975,4845180.913

In [38]:
# Standardizing Categorical and Numerical Variables

# convert categorical variables to lowercase
categorical_colmn = ['PROPERTY_TYPE', 'WARDNAME']
for column in categorical_colmn:
    df_cleaned[column] = df_cleaned[column].str.lower()

C:\Users\agp07\AppData\Local\Temp\ipykernel_19964\181982139.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = df_cleaned[column].str.lower()

In [41]:
# Normalize numerical variables using min-max scaling
from sklearn.preprocessing import MinMaxScaler

num_col = ['CONFIRMED_STOREYS', 'CONFIRMED_UNITS']
scaler = MinMaxScaler()
df_cleaned[num_col] = scaler.fit_transform(df_cleaned[num_col])

C:\Users\agp07\AppData\Local\Temp\ipykernel_19964\851490948.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[num_col] = scaler.fit_transform(df_cleaned[num_col])

# Feature engineering and aggregation

In [42]:
# Creating binary feature indicating if the building is old or new based on year built
df_cleaned['IS_NEW_BUILDING'] = (df_cleaned['YEAR_BUILT'] > 2000).astype(int)

C:\Users\agp07\AppData\Local\Temp\ipykernel_19964\579271034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['IS_NEW_BUILDING'] = (df_cleaned['YEAR_BUILT'] > 2000).astype(int)

In [43]:
# Extracting the month and year from the "EVALUATION_COMPLETED_ON" column
df_cleaned['EVALUATION_MONTH'] = pd.to_datetime(df_cleaned['EVALUATION_COMPLETED_ON']).dt.month
df_cleaned['EVALUATION_YEAR'] = pd.to_datetime(df_cleaned['EVALUATION_COMPLETED_ON']).dt.year

C:\Users\agp07\AppData\Local\Temp\ipykernel_19964\592371086.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EVALUATION_MONTH'] = pd.to_datetime(df_cleaned['EVALUATION_COMPLETED_ON']).dt.month
C:\Users\agp07\AppData\Local\Temp\ipykernel_19964\592371086.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EVALUATION_YEAR'] = pd.to_datetime(df_cleaned['EVALUATION_COMPLETED_ON']).dt.year

Aggregation :

In [44]:
# Agg by propert type
property_type = df_cleaned.groupby('PROPERTY_TYPE')['SCORE'].mean()
property_type

PROPERTY_TYPE
private           78.908602
social housing    76.966102
tchc              72.037037
Name: SCORE, dtype: float64

In [48]:
# Agg by Ward
ward_stats = df_cleaned.groupby('WARD').agg({'SCORE': 'mean', 'PROPERTY_TYPE': 'count'})
ward_stats.head()

          SCORE  PROPERTY_TYPE
WARD
1     72.500000             20
2     80.437500             32
3     75.363636             44
4     69.680000             50
5     71.705882             34

In [47]:
# Agg by Year Built
year_stats = df_cleaned.groupby('YEAR_BUILT')['SCORE'].mean()
year_stats.head()

YEAR_BUILT
1910.0    20.000000
1950.0    72.000000
1955.0    80.500000
1956.0    77.666667
1957.0    84.428571
Name: SCORE, dtype: float64

In [49]:
# Final and clean dataset ready to use
df_cleaned.head()

,_id,RSN,YEAR_REGISTERED,YEAR_EVALUATED,YEAR_BUILT,PROPERTY_TYPE,WARD,WARDNAME,SITE_ADDRESS,CONFIRMED_STOREYS,...,PARKING_AREA,OTHER_FACILITIES,GRID,LATITUDE,LONGITUDE,X,Y,IS_NEW_BUILDING,EVALUATION_MONTH,EVALUATION_YEAR
2021,3699115,4153625,2017.0,2021.0,1996.0,social housing,14,toronto-danforth,54 MARIGOLD AVE,0.029412,...,4.0,4.0,S1441,43.661996,-79.331076,318408.525,4835574.305,0,12,2021
2046,3699140,4152677,2017.0,2021.0,1992.0,social housing,20,scarborough southwest,835-841 BIRCHMOUNT RD,0.088235,...,4.0,4.0,E2023,43.729416,-79.277408,322716.837,4843074.440,0,12,2021
2078,3699172,4155062,2017.0,2021.0,1965.0,private,8,eglinton-lawrence,370 RIDELLE AVE,0.735294,...,5.0,5.0,N0831,43.704637,-79.440751,309559.647,4840299.426,0,12,2021
2085,3699179,4166944,2017.0,2021.0,1967.0,private,14,toronto-danforth,70 CAMBRIDGE AVE,0.529412,...,4.0,4.0,S1424,43.678116,-79.360787,316009.354,4837360.726,0,12,2021
2114,3699208,4154604,2017.0,2021.0,1966.0,private,6,york centre,4190 BATHURST ST,0.176471,...,3.0,4.0,N0629,43.748575,-79.437303,309833.975,4845180.913,0,12,2021

* Data Loading:
  - The real estate dataset on Apartment Building Evaluation for Toronto was downloaded from the provided link.
  - The dataset was loaded into a Pandas DataFrame using the read_csv function.


* Data Cleaning:
  - Missing values were identified using the isnull().sum() function, which counts the number of missing values in each column.
  - Missing values were handled using various strategies:
    - Numeric columns (CONFIRMED_STOREYS and CONFIRMED_UNITS) were filled with the mean using the fillna method.
    - Categorical columns (PROPERTY_TYPE, WARD, and WARDNAME) were filled with the mode (most frequent value) using the fillna         method.


* Feature Engineering:
  - Feature engineering involves creating new features or transforming existing features to improve the predictive power of the     model.
  - Examples of feature engineering performed on the dataset include:
    - Creating a binary feature IS_NEW_BUILDING based on the YEAR_BUILT column to indicate if the building is old or new.
    - Extracting the month and year from the EVALUATION_COMPLETED_ON column to create the EVALUATION_MONTH and EVALUATION_YEAR         features.


* Aggregation:
  - Aggregation involves summarizing data based on certain criteria such as groupings or calculations.
  - Examples of aggregation performed on the dataset include:
     - Calculating the average score for each property type using the groupby function on the PROPERTY_TYPE column.
     - Aggregating statistics by ward, including the average score and count of properties for each ward using the groupby              function on the WARD column.
     - Calculating the average score for each year built using the groupby function on the YEAR_BUILT column.


* Data Validation:
  - After cleaning and transforming the dataset, it's important to validate the data for integrity and usability.
  - This can involve checking for any remaining missing values, confirming the correctness of the transformations, and               evaluating the quality of the aggregated results.


* Documentation:
  - It's crucial to document the steps taken during the data cleansing and transformation process.
  - Documentation should include clear explanations of the cleaning strategies employed, the feature engineering techniques         applied, and the aggregation operations performed.
  - Additionally, it's beneficial to document any challenges encountered, assumptions made, and any further considerations or       improvements for future analysis.


* By following these steps and documenting the process, you can ensure transparency, reproducibility, and better understanding     of the data cleansing and transformation steps taken.